Repository bddjong/utrecht: changes, and which lint-staged commands are due for each by the changed paths.
All: npmPkgJsonLint, markdownlint, eslint, stylelint --allow-empty-input

refactor: one uno.css instead of many <link> elements
  apps/huwelijksplanner/01-trouwen-of-partnerschap.html
  apps/huwelijksplanner/02-filter-trouwen-plannen.html
  apps/huwelijksplanner/02-trouwen-plannen.html
  apps/huwelijksplanner/02b-filter-trouwen-plannen-april.html
  apps/huwelijksplanner/02b-trouwen-plannen-april.html
  apps/huwelijksplanner/03-inloggen-digid.html
  apps/huwelijksplanner/04-melding-voorgenomen-huwelijk-anne.html
  apps/huwelijksplanner/05-vraag-sanne.html
  apps/huwelijksplanner/05a-vraag-sanne.html
  apps/huwelijksplanner/06-wacht-op-sanne.html
  apps/huwelijksplanner/07-anne-en-sanne.html
  apps/huwelijksplanner/07a-anne-en-sanne.html
  apps/huwelijksplanner/07a-getuigen.html
  apps/huwelijksplanner/07b-getuigen-extra.html
  apps/huwelijksplanner/07c-extra.html
  apps/huwelijksplanner/08-check.html
  apps/huwelijksplanner/08-check02.html
  apps/huwelijksplanner/08-check03.html
  apps/huwelijksplanner/08-check04.html
  apps/huwelijksplanner/08-check05-fout.html
  apps/huwelijksplanner/08-check05.html
  apps/huwelijksplanner/09b-formulier-opgeslagen.html
  apps/huwelijksplanner/10-betaling-geslaagd.html
  apps/huwelijksplanner/11-getuigen-wijzig.html
  apps/huwelijksplanner/11b-extra.html
  apps/huwelijksplanner/12-huwelijk-geannuleerd.html
  apps/huwelijksplanner/index.html
  apps/huwelijksplanner/sanne-a-klaar.html
  apps/huwelijksplanner/sanne-a-melding-voorgenomen-huwelijk.html
  apps/huwelijksplanner/sanne-klaar.html
  apps/huwelijksplanner/sanne-melding-voorgenomen-huwelijk.html
  apps/huwelijksplanner/sanne-vs-klaar.html
  apps/huwelijksplanner/sanne-vs-melding-voorgenomen-huwelijk.html
  apps/huwelijksplanner/sanne.html
  apps/huwelijksplanner/uno.css
Due: stylelint --allow-empty-input

Radio buttons
  __docs__/introductie.md
  proprietary/design-tokens/component/form.css
  src/form-field-radio-group/README.md
  src/form-field-radio-group/index.css
  src/form-field-radio-group/stories.mdx
  src/form-field-radio/README.md
  src/form-field-radio/index.css
  src/form-field-radio/stories.mdx
  src/radio/README.md
  src/radio/html.scss
  src/radio/index.css
Due: markdownlint, stylelint --allow-empty-input

Listing
  proprietary/design-tokens/component/index.css
  proprietary/design-tokens/component/link.css
  proprietary/design-tokens/component/list.css
  src/ordered-list/README.md
  src/ordered-list/docs/accessibility-guidelines.md
  src/ordered-list/docs/content-guidelines.md
  src/ordered-list/menulijst.stories.mdx
  src/ordered-list/style.css
Due: markdownlint, stylelint --allow-empty-input

Dropdown component
  proprietary/design-tokens/common/field.css
  proprietary/design-tokens/common/index.css
  src/dropdown/README.md
  src/dropdown/html.scss
  src/dropdown/index.css
  src/form-field-dropdown/README.md
  src/form-field-dropdown/index.css
  src/form-field-dropdown/stories.mdx
Due: markdownlint, stylelint --allow-empty-input

List
  src/unordered-list/README.md
  src/unordered-list/docs/accessibility-guidelines.md
  src/unordered-list/docs/content-guidelines.md
  src/unordered-list/menulijst.stories.mdx
  src/unordered-list/style.css
Due: markdownlint, stylelint --allow-empty-input

Dropdown css cleanup
  src/form-field-dropdown/index.css
Due: stylelint --allow-empty-input

Field
  proprietary/design-tokens/common/field.css
  src/form-field-dropdown/index.css
Due: stylelint --allow-empty-input

feat: table design tokens
  components/table/bem.css
  components/table/block.style-dictionary.json
  proprietary/design-tokens/src/component/utrecht/table/block.style-dictionary.json
Due: stylelint --allow-empty-input

feat: more tokens for logo sizing
  proprietary/design-tokens/src/component/utrecht/logo/block.style-dictionary.json
Due: none

fix: default values for Logo template
  components/search-bar/bem.stories.mdx
Due: none

feat: page component
  components/page/README.md
  components/page/bem.css
  components/page/bem.stories.mdx
Due: markdownlint, stylelint --allow-empty-input

feat: page content component
  components/page-content/bem.css
  components/page-content/block.style-dictionary.json
  proprietary/design-tokens/src/component/utrecht/page-content/block.style-dictionary.json
Due: stylelint --allow-empty-input

refactor: export templates and example data
  components/alternate-lang-nav/stories.mdx
  components/link-social/bem.stories.mdx
  components/nav-top/bem.stories.mdx
  components/page-footer/bem.stories.mdx
Due: none

feat: page header component
  components/page-header/bem.css
Due: stylelint --allow-empty-input

WIP
  components/link-list/README.md
  components/link-list/bem.scss
  components/link-list/bem.stories.mdx
  components/link-list/block.style-dictionary.json
  components/link-list/element.style-dictionary.json
  components/link-list/readme.stories.mdx
  components/page-footer/bem.stories.mdx
  proprietary/design-tokens/src/component/utrecht/link-list/element.style-dictionary.json
  proprietary/design-tokens/src/custom.scss
  proprietary/design-tokens/src/pijltje-wit.svg
  proprietary/design-tokens/src/pijltje-zwart.svg
Due: markdownlint

Path conditions:
  npmPkgJsonLint: any of: package.json
  markdownlint: any of: *.md
  eslint: any of: *.{js,jsx,ts,tsx}
  stylelint --allow-empty-input: any of: *.css
